<!DOCTYPE html>
<html lang="ja" >
<head>
  <meta charset="utf-8" />
  <title>midi test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/js/midi.js"></script>
  <script >

  $(function() {
      var seq; //json data
      var seqno=0;
      var seqstatus=false;

      //シーケンスデータ読み込み
      $("#button_get_seq").click(function(){
        $.getJSON("js/data.json", function(data){
          seq = data;
          seqno = 0;
        })
      });

      //シーケンスのon off
      $('input[name="button_run"]' ).change( function() {
        if( $(this).val()=='on'){
            seqstatus=true;
            storyteller(heartbeat(seq.heartbeat));

          //timer = setInterval(syori, seq.heartbeat);
        } else{
            seqstatus=false;
          //clearInterval(timer);
        }
      });

      //ストーリーの実行
      function storyteller(beat){

        if (seqstatus){
          //ここに処理
          $("#note_list").text(seqno);

          //例
          rhythm(seq.rhythm);

          seqno++;

          //次を呼び出し
          setTimeout(function(){
              storyteller(heartbeat(seq.heartbeat));
          },beat);

        }

      }

      //ハートビートの取得
      function heartbeat(data){
        var ret = 0.0;

        //staticな変数を初期化 配列の場合のカウンタ
        if (typeof heartbeat.counter === 'undefined') {
            heartbeat.counter = 0;
        }
        //もし受けっとったdataが式かarryかで処理を変える
        if(typeof data === 'string'){
          //式の場合
          //t= seqno として　計算

          ret =20 * Math.sin( 2 * Math.PI * 1 * seqno /32) + 80
          console.log("heartbeat:" + ret);
        }else {
          //配列の場合
          ret = data[heartbeat.counter]
          //console.log("heartbeat:" + ret);

          heartbeat.counter++;
          if(heartbeat.counter >= data.length ){
            heartbeat.counter = 0;
          }

        }

        return ret;

      }


      function rhythm(rhythm_pattern) {
          //staticな変数を初期化
          if (typeof rhythm.counter === 'undefined') {
              rhythm.counter = 0;
          }

          if(seqno % rhythm_pattern[rhythm.counter] == 0){
            //?回に１回
            $("#note_list2").text(seqno);

            noteOut(0,62,100,500);

          }else if(seqno % rhythm_pattern[rhythm.counter] == rhythm_pattern[rhythm.counter] - 1 ){

            //次の回の直前
            rhythm.counter++;
            if(rhythm.counter >= rhythm_pattern.length ){
              rhythm.counter = 0;
            }

          }



          //return n + rhythm.counter;
      }

      $("#button1").click(function(){
        //  sendMiddleC(0);
          noteOut(0,62,100,500);
          noteOut(0,67,100,1000);
      });
  });
  </script>


</head>
<body>
  <h1>Web midi test</h1>

  <input id="button_get_seq" type="button" value="get sequence">


<input name="button_run" type="radio" value="on" />on
<input name="button_run" type="radio" value="off" checked="checked" />off

  <div id="note_list"></div>
<div id="note_list2"></div>
</body>
</html>
