<!DOCTYPE html>
<html lang="ja" >
<head>
  <meta charset="utf-8" />
  <title>midi test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/js/midi.js"></script>
  <script >

  $(function() {
      var seq; //json data
      var seqno=0;

      //シーケンスデータ読み込み
      $("#button_get_seq").click(function(){
        $.getJSON("js/data.json", function(data){
          seq = data;
          seqno = 0;
        })
      });

      //シーケンスのon off
      $('input[name="button_run"]' ).change( function() {
        if( $(this).val()=='on'){
            heartbeat(seq.heartbeat);

          //timer = setInterval(syori, seq.heartbeat);
        } else{
            seq.heartbeat=0;
          //clearInterval(timer);
        }
      });

      function heartbeat(beat){
        if (beat > 0){

          //ここに処理
          $("#note_list").text(seqno);

          //例
          rhythm();

          seqno++;

          //次を呼び出し
          setTimeout(function(){
              heartbeat(seq.heartbeat);
          },beat);
        }

      }
      function rhythm() {
          //staticな変数を初期化
          if (typeof rhythm.counter === 'undefined') {
              rhythm.counter = 0;
          }

          if(seqno % seq.rhythm[rhythm.counter] == 0){
            //?回に１回
            $("#note_list2").text(seqno);

            noteOut(0,62,100,500);

          }else if(seqno % seq.rhythm[rhythm.counter] == seq.rhythm[rhythm.counter] - 1 ){

            //次の回の直前
            rhythm.counter++;
            if(rhythm.counter >= seq.rhythm.length ){
              rhythm.counter = 0;
            }

          }



          //return n + rhythm.counter;
      }

      $("#button1").click(function(){
        //  sendMiddleC(0);
          noteOut(0,62,100,500);
          noteOut(0,67,100,1000);
      });
  });
  </script>


</head>
<body>
  <h1>Web midi test</h1>

  <input id="button_get_seq" type="button" value="get sequence">


<input name="button_run" type="radio" value="on" />on
<input name="button_run" type="radio" value="off" checked="checked" />off

  <div id="note_list"></div>
<div id="note_list2"></div>
</body>
</html>
