<!DOCTYPE html>
<html lang="ja" >
<head>
  <meta charset="utf-8" />
  <title>midi test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/js/midi.js"></script>
  <script >

  $(function() {
      var seq; //json data
      var seqno=0;
      var seqstatus=false;

      //シーケンスデータ読み込み
      $("#button_get_seq").click(function(){
        $.getJSON("js/data.json", function(data){
          seq = data;
          seqno = 0;
        })
      });

      //シーケンスのon off
      $('input[name="button_run"]' ).change( function() {
        if( $(this).val()=='on'){
            seqstatus=true;
            storyteller(heartbeat());

          //timer = setInterval(syori, seq.heartbeat);
        } else{
            seqstatus=false;
          //clearInterval(timer);
        }
      });

      //ストーリーの実行
      function storyteller(beat){

        if (seqstatus){

          //ここに処理
          $("#note_list").text(seqno);

          //例
          rhythm(beat);

          //呼び出し回数をカウント
          seqno++;

          //次を呼び出し
          setTimeout(function(){
              storyteller(heartbeat());
          },beat);

        }

      }

      //ハートビートの取得
      function heartbeat(){

        var ret = 0.0; //default beat
        var masterbeat = seq.masterbeat;
        var loop = seq.loop;
        var beat = seq.beat;


        //staticな変数を初期化 配列のカウンタと時間制限
        if (typeof heartbeat.counter === 'undefined') {
            heartbeat.counter = 0;
            heartbeat.timer = beat[heartbeat.counter].time;

        }

        //beatの直列処理

        //配列を一個一個呼び出す
        eval("ret = " + beat[heartbeat.counter].formula + ";");
        console.log("heartbeat:" + ret);
        //console.log("heartbeat.timer:" + heartbeat.timer);

        //timerを一つ減らす
        heartbeat.timer--;
        //timer分ループしたら
        if(heartbeat.timer == 0 ){

          //次の配列を呼び出し
          heartbeat.counter++;
          if(heartbeat.counter < beat.length ){
            //timer をセット
            heartbeat.timer = beat[heartbeat.counter].time;
          }else　if (loop){
            //ループがonならカウンターをリセット
              heartbeat.counter = 0;
              heartbeat.timer = beat[heartbeat.counter].time;
          }else{
            //それ以外は停止
              seqstatus = false;
              heartbeat.counter = undefined;
              ret = masterbeat;
          }

        }

        return ret;

      }


      function rhythm() {
        var rhythm_pattern = seq.rhythm;
          //staticな変数を初期化
          if (typeof rhythm.counter === 'undefined') {
              rhythm.counter = 0;
          }

          if(seqno % rhythm_pattern[rhythm.counter] == 0){
            //?回に１回
            $("#note_list2").text(seqno);

            noteOut(0,note(),100,500);

          }else if(seqno % rhythm_pattern[rhythm.counter] == rhythm_pattern[rhythm.counter] - 1 ){

            //次の回の直前
            rhythm.counter++;
            if(rhythm.counter >= rhythm_pattern.length ){
              rhythm.counter = 0;
            }

          }
          //return n + rhythm.counter;
      }

      //呼び出されるたびにnotenoを返す
      function note() {
        var ret=0;
        var note_pattern = seq.note;
          //staticな変数を初期化
          if (typeof note.counter === 'undefined') {
              note.counter = 0;
          }

          ret= note_pattern[note.counter];
          $("#note_list3").text(ret);

          //次の回の直前
          note.counter++;
          if(note.counter >= note_pattern.length ){
            note.counter = 0;
          }

          return ret;
      }



      $("#button1").click(function(){
        //  sendMiddleC(0);
          noteOut(0,62,100,500);
          noteOut(0,67,100,1000);
      });
  });
  </script>


</head>
<body>
  <h1>Web midi test</h1>

  <input id="button_get_seq" type="button" value="get sequence">


<input name="button_run" type="radio" value="on" />on
<input name="button_run" type="radio" value="off" checked="checked" />off

  <div id="note_list"></div>
<div id="note_list2"></div>
<div id="note_list3"></div>
</body>
</html>
